@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 浅色模式下的颜色变量 */
  --bg-pure: #ffffff;
  --bg-normal: #f9f9f9; /* 比原来的白色稍带一点灰度，看起来更柔和 */
  --bg-shallow: #f0f0f0; /* 类似的，比原浅灰色更柔和的浅灰色调 */
  --bg-shallower:#e0e0e0 ; /* 类似的，比原浅灰色更柔和的浅灰色调 */
  --text-normal: #222222; /* 加深了一点文本颜色，提高对比度，更易阅读 */
  --text-shallow: #666666;
  --text-shallower: #888888; /* 调整为稍深一点的灰色，使层次更分明 */
  --text-shallowest: #e0e0e0; /* 稍作改变，使其与其他浅灰色调更协调 */
}

.dark {
  /* 深色模式下的颜色变量 */
  --bg-pure: #000000;
  --bg-normal: #121212; /* 稍微提亮了一点纯黑色背景，避免过于暗沉 */
  --bg-shallow: #222222; /* 同样提亮了一点原深灰色背景，使视觉上更舒适 */
  --bg-shallower: #333333; /* 同样提亮了一点原深灰色背景，使视觉上更舒适 */
  --text-normal: #e6e6e6; /* 稍亮一点的文本颜色，提高可读性 */
  --text-shallow: #aaaaaa;
  --text-shallower: #777777;
  --text-shallowest: #333333; /* 加深了一点这个灰色，使其在深色背景下更有层次感 */
}

/* bytemd */
.bytemd {
  height: calc(100vh - 200px)!important;
}